<div class="schedules-section">
  <h2 class="hero-title">Weekly Fitness Schedule with Diet Chart</h2>

  <table class="table container">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8am-9am</th>
        <td>Body Building<br />Diet: Protein Shake</td>
        <td>Weight Lifting<br />Diet: Chicken Salad</td>
        <td></td>
        <td>Yoga<br />Diet: Green Smoothie</td>
        <td>Aerobics<br />Diet: Fruit Bowl</td>
        <td>Cycling<br />Diet: Quinoa Salad</td>
        <td>Stretching<br />Diet: Greek Yogurt with Nuts</td>
      </tr>
      <tr>
        <th scope="row">10am-11am</th>
        <td>Weight Lifting<br />Diet: Oatmeal with Berries</td>
        <td>Body Building<br />Diet: Grilled Salmon</td>
        <td>Cardio<br />Diet: Vegetable Wrap</td>
        <td>Yoga<br />Diet: Almond Milk Smoothie</td>
        <td>Aerobics<br />Diet: Turkey Sandwich</td>
        <td>Cycling<br />Diet: Avocado Toast</td>
        <td>Stretching<br />Diet: Cottage Cheese with Pineapple</td>
      </tr>
      <tr>
        <th scope="row">1pm-2am</th>
        <td></td>
        <td>Weight Lifting<br />Diet: Quinoa Bowl</td>
        <td>Cardio<br />Diet: Lentil Soup</td>
        <td>Yoga<br />Diet: Mixed Berry Parfait</td>
        <td>Aerobics<br />Diet: Greek Salad</td>
        <td>Cycling<br />Diet: Hummus and Vegetable Plate</td>
        <td>Stretching<br />Diet: Protein Bar</td>
      </tr>
      <tr>
        <th scope="row">3pm-5pm</th>
        <td>Aerobics<br />Diet: Apple with Peanut Butter</td>
        <td>Weight Lifting<br />Diet: Quinoa Salad</td>
        <td>Cardio<br />Diet: Grilled Chicken Breast with Veggies</td>
        <td>Yoga<br />Diet: Smoothie Bowl</td>
        <td>Body Building<br />Diet: Cottage Cheese and Almonds</td>
        <td></td>
        <td>Stretching<br />Diet: Greek Yogurt with Berries</td>
      </tr>
      <tr>
        <th scope="row">7pm-9pm</th>
        <td>Body Building<br />Diet: Baked Sweet Potato with Salmon</td>
        <td>Weight Lifting<br />Diet: Brown Rice with Stir-Fried Tofu</td>
        <td>Cardio<br />Diet: Shrimp Stir-Fry</td>
        <td></td>
        <td>Aerobics<br />Diet: Grilled Vegetable Skewers</td>
        <td>Cycling<br />Diet: Quinoa and Black Bean Bowl</td>
        <td>Stretching<br />Diet: Mixed Nuts</td>
      </tr>
    </tbody>
  </table>
</div>
