<div class="container-fluid">
  <h2 class="hero-title">About Us</h2>

  <div class="container">
    <div class="left">
      <img
        src="https://t4.ftcdn.net/jpg/06/28/95/63/360_F_628956319_rfUBd6WhCgPHanM7QEwBd0sacXVhMlJY.jpg"
        alt="gym guy"
      />
    </div>
    <div class="right">
      <h2 style="color: #e1193e">INFORMATION ABOUT US</h2>
      <h2 class="about-subheading">
        ROCKSTAR CROSSFIT WORKOUT TRAINING CENTER
      </h2>
      <p style="color: #e1193e">
        Far far away, behind the word mountains, far from the countries Vokalia
        and Consonantia, there live the blind texts. Separated they live in
        Bookmarksgrove right at the coast of the Semantics, a large language
        ocean.
      </p>
      <ul style="color: white">
        <li>MEN FITNESS AND WORKOUT</li>
        <li>WOMEN FITNESS AND WORKOUT</li>
        <li>PERSONAL TRAININGS</li>
      </ul>
    </div>
  </div>
</div>
