<div class="contact-screen">
  <h2 class="hero-title">Contact</h2>

  <div class="left">
    <h3>203 Fake St. Mountain View, San Francisco, California, USA</h3>
    <h3>+2 392 3929 210</h3>
  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14409.760675208348!2d81.84798896479582!3d25.456973615121516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399acbf7a835f7a5%3A0x3ab79c2485943074!2sWorkout%20Junction!5e0!3m2!1sen!2sin!4v1705252850910!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</div>
