<div class="schedules-section">
  <h2 class="hero-title">Weekly Fitness Schedule</h2>

  <table class="table container">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Monday</th>
        <th scope="col">Tuesday</th>
        <th scope="col">Wednesday</th>
        <th scope="col">Thursday</th>
        <th scope="col">Friday</th>
        <th scope="col">Saturday</th>
        <th scope="col">Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">8am-9am</th>
        <td>Body Building</td>
        <td>Weight Lifting</td>
        <td></td>
        <td>Yoga</td>
        <td>Aerobics</td>
        <td>Cycling</td>
        <td>Stretching</td>
      </tr>
      <tr>
        <th scope="row">10am-11am</th>
        <td>Weight Lifting</td>
        <td>Body Building</td>
        <td>Cardio</td>
        <td>Yoga</td>
        <td>Aerobics</td>
        <td>Cycling</td>
        <td>Stretching</td>
      </tr>
      <tr>
        <th scope="row">1pm-2am</th>
        <td></td>
        <td>Weight Lifting</td>
        <td>Cardio</td>
        <td>Yoga</td>
        <td>Aerobics</td>
        <td>Cycling</td>
        <td>Stretching</td>
      </tr>
      <tr>
        <th scope="row">3pm-5pm</th>
        <td>Aerobics</td>
        <td>Weight Lifting</td>
        <td>Cardio</td>
        <td>Yoga</td>
        <td>Body Building</td>
        <td></td>
        <td>Stretching</td>
      </tr>
      <tr>
        <th scope="row">7pm-9pm</th>
        <td>Body Building</td>
        <td>Weight Lifting</td>
        <td>Cardio</td>
        <td></td>
        <td>Aerobics</td>
        <td>Cycling</td>
        <td>Stretching</td>
      </tr>
    </tbody>
  </table>
</div>
