<header>
  <!-- Navbar -->
  <nav
    class="navbar navbar-expand-lg navbar-dark d-none d-lg-block"
    style="z-index: 2000"
  >
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a
        class="navbar-brand nav-link"
        target="_blank"
        href="https://mdbootstrap.com/docs/standard/"
      >
        <strong>Rockstar GYM</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#hero">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#hero">About</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#subscription"
              >Subscriptions</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#diet">Diet</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#feedback"
              >Feedback</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#register"
              >Register</a
            >
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<div id="hero">
  <app-home></app-home>
</div>

<div id="about">
  <app-about></app-about>
</div>

<div class="" id="diet">
  <app-diet-chart></app-diet-chart>
</div>

<div id="schedule">
  <app-schedules></app-schedules>
</div>

<div id="register">
  <app-register></app-register>
</div>
<div class="" id="subscription">
  <app-plans></app-plans>
</div>
<div id="feedback">
  <app-feedback></app-feedback>
</div>
<div id="contact">
  <app-contact></app-contact>
</div>
