/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  background-color: black;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 25px;
}
.hero-title {
  color: white;
  font-size: 50px;
  font-style: italic;
  background-color: transparent;
  font-weight: 700;
}
